body {
    background-image: url(https://stormandsky.com/gif/9.gif);
}

.navbar {
    background-color: #700000;
}

.nav-link {
    color: #c0bfbf;
}

.search-container {
    background-color: #f5f5dc9d;
    padding: 15px;
    height: 70px;
}

#city-input {
    font-size: 16pt;
}
.search-prompt {
    text-align: right;
    font-size: 20pt;
}

.search-button {
    background-color: #700000;
    color: #ffffff;
    border: #700000;
    width: 75px;
    height: 35px;
    font-size: 14pt;
}

.weather-container {
    background-color: #f5f5dc9d;
    padding: 15px;
    height: 450px;
}

#cityName {
    text-align: center;
}

.weather-row {
    margin-left: 5%;

}
