body {
    background-color: #ffffff;
}

.navbar {
    background-color: #28c5bdab;
}

.nav-link {
    color: #7e29df;
}

.search-prompt {
    text-align: right;
    font-size: 16pt;
}

.search-button {
    background-color: #28c5bd80;
    color: #7e29df;
    border: solid 1px #28c5bd80;
    width: 75px;
    height: 30px;
    font-size: 14pt;
}

/* .container {
    border: solid 1px black;
} */